#navbar a {
  color: #FFF;
}

.background {
  /*royal gradient from uigradients*/
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
  
.background .container {
  padding-top: 70px;
  margin-top: 5%;
  position: relative;
  z-index: 3;
}

.footer {
  /*margin-top: 100 %;*/
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
}'

.footer a{
  color: #5e3384;
}

#passwords .card {
  font-size: 1.3em;
  overflow: hidden;
  margin: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  text-align: center;
  background-color: #FFFFFF;
}

.copy{
  background-image: url("../img/copy.svg");
  line-height: 1;
  height: 2em;
  width: 1.5em;
}

#generate{
  margin-bottom: 1em;
  padding: 0.7em;
}

.footer .heart{
  color: red;
}



